


.serif-headers {
  font-family: "ivypresto-headline", serif;
font-weight: 100;
font-style: italic;
 }
 h4 {
  font-family: "figtree", sans-serif;
  font-weight: 500;
  font-size:18px;
  font-style: normal;
  margin:0px;
  color:#000000;
  margin-bottom:15px;
  margin-top:5px;
 }
.inline-link {
  color:blue;
  text-decoration:underline;
}
.b-contact {
  margin-top:auto;
}
.margin-h1{
  margin-bottom:18px;
}
 /* SUI BELOW */
 .images-sui img {
  width:100%;
  height:auto;
 }
 .images-sui {
  display:flex;
  flex-direction: column;
  gap:20px;
 }
 .brand-concept-sui p {
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5px;
  color: #000000;
  line-height: 25px;
 }
 .brand-concept-sui img {
width:100%;
 }
 .sui-project-goals img {
  width:100%
 }
 .sui-project-goals p {
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5px;
  color: #000000;
  line-height: 25px;
 }
 .style-tile-sui img {
width:100%;
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
 }
 .style-tile-sui {
  margin-top:50px;
  margin-bottom:40px;
 }
 .ui-tag {
  background-color: #6896F8;
  padding:5px 10px;
  color:black;
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top:20px;
 }
 .branding-tag {
  background-color: #FF7EF4;
  padding:5px 10px;
  color:black;
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
 }
 .print-tag {
  background-color: #FFF275;
  padding:5px 10px;
  color:black;
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
 }
 .motion-tag {
  background-color: #74C365;
  padding:5px 10px;
  color:black;
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
 }
 .user-personas-sui img {
  width:100%;
 }
 .user-personas-sui p {
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:#000000;
  margin-top:5px;
 }
.wireframes-sui1 img {
width:100%;
}
.wireframes-sui1 {
  margin-left:20px;
  margin-right:20px;
  margin-top:40px;
  }
  

 .sui-left-flex {
  display:flex;
  justify-content:center;
}
.type-brand-concept-sui {
margin-left:20px;
margin-top:30px;
margin-right:20px;
}
.type-sui-project-goals {
  margin-left:20px;
  margin-top:40px;
  margin-right:20px;
  margin-bottom:30px;
  }
  .style-tile-container {
    margin-right:20px; 
  }
.style-tile-sui {
  margin-left:20px;
}
.style-tile-sui h3 {
  margin-bottom:20px;
}
.user-personas-sui {
  margin-left:20px;
  margin-right:20px;
}
.sui-wireframes-container {
  margin-right:20px; 
}
.wireframes-sui1 {
margin-left:20px;
}
.wireframes-sui1 h3 {
margin-bottom:20px;
}
.type-user-personas-sui {
  margin-bottom:30px;
}
.sui-mobile-wf img {
  width:100%;
  }
  .sui-mobile-wf {
    margin-left:20px;
    margin-right:20px;
    margin-top:40px;
    margin-bottom:40px;
    }
.sui-mobile-wf p {
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:#000000;
  margin-top:5px;
  margin-bottom:40px;
  max-width:550px;
}
.sui-h3 {
  margin-bottom:20px;
  margin-left:20px;
}



h1 {
  font-family: "ivypresto-headline", serif;
font-weight: 100;
font-style: italic;
    font-size:55px;
    color:#000000;
}
.lillians-main {
    width:100%;
    height:auto;
}
.description p {
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
    margin-top: 5px;
    color: #000000;
    line-height: 25px;
}
.description{
   padding-top:40px;
    margin:20px;
    padding-bottom: 30px;
}
.description h2 {
  color: #000000;
}
.description-sui p {
  font-family: "figtree", sans-serif;
font-weight: 400;
font-style: normal;
  margin-top: 5px;
  color: #000000;
  line-height: 25px;
}
.description-sui{
 padding-top:40px;
  margin:20px;
  padding-bottom: 30px;
}
.description-sui h2 {
color: #000000;
}

nav {
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:40px;
  }
  nav ul {
    list-style-type: none;
    font-family: "figtree", sans-serif;
  font-weight: 500;
  font-style: normal;
  display:flex;
  align-items:center;
  gap: 30px;
  }
  nav a {
    text-decoration:none;
  }
  .type-section {
    margin-left:20px;
    display:flex;
    flex-direction: column;
    margin-top:50px;
    margin-bottom:80px;
    margin-right:20px;
  }
  .type-section p {
    font-family: "figtree", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 550px;
    color: #000000;
    line-height: 25px;
    margin-top:5px;
    
  } 
  .type-section img {
    width:85%;
  }
  h2 {
    font-family: "figtree", sans-serif;
font-weight: 600;
font-style: normal;
    margin:0px;
    font-size:30px;
    color:#000000;
  }
  .type-exp {
    padding-top:30px;
  }


   /* FUN STUFF BELOW */
.dlc-fun {
  margin-bottom:40px;
}
.left-side-dlc img {
  width:100%;
}

.letter-loops-fun video {
  width:100%;
}
.letter-loops-flex {
  display:flex;
  flex-direction:column;
  gap:20px;
  margin-bottom:40px;
}
.dlc-type {
  margin-left:20px;
  margin-right:20px;
  margin-top:20px;
}
.dlc-type button {
  background-color:black;
  border:1.5px solid black;
  color:#ffffff;
  padding:10px 15px;
  border-radius:5px;
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
      margin:0px;
}
.doms-left img {
  width:100%;
}
.doms-right {
  margin-left:20px;
  margin-right:20px;
}
.doms-right p {
  font-family: "figtree", sans-serif;
  font-weight: 200;
  font-style: normal;
  color:#000000;
  line-height:25px;
  max-width:550px;
  margin-top:5px;
}
.doms {
  display:flex;
  gap:20px;
  flex-direction:column;
  margin-bottom:40px;
}
h3 {
  color: #000000;
}
.dlc-type button:hover {
  background-color:#ffffff;
  color:#000000;
}
.mintz-left img {
  width:100%;
}
.mintz {
  display:flex;
  flex-direction:column;
  gap:20px;
  margin-bottom:40px;
}
.mintz-right p {
  font-family: "figtree", sans-serif;
  font-weight: 200;
  font-style: normal;
  color:#000000;
  line-height:25px;
  max-width:550px;
  margin-top:5px;
}
.mintz-right {
  margin-left:20px;
  margin-right:20px;
}
.dlc-type p {
  font-family: "figtree", sans-serif;
  font-weight: 200;
  font-style: normal;
  color:#000000;
  line-height:25px;
  max-width:550px;
  margin-top:5px;
}
.letter-loops-type {
  margin-left:20px;
margin-right:20px;
margin-bottom:20px;
}
.letter-loops-type p {
  font-family: "figtree", sans-serif;
  font-weight: 200;
  font-style: normal;
  color:#000000;
  line-height:25px;
  margin-top:5px;
}
.panda-logo {
  border:1px solid #000000;
}
.sk-right p {
  font-family: "figtree", sans-serif;
  font-weight: 200;
  font-style: normal;
  color:#000000;
  line-height:25px;
  max-width:550px;
  margin-top:5px;
}
.static-kinetic {
  display:flex;
  flex-direction:column;
  gap:20px;
  margin-bottom:40px;
}
.sk-right {
  margin-left:20px;
  margin-right:20px;
}
 /* DUCK POND BELOW */
 .dp-img img {
  width:100%;
  height:auto;
 }
 .door-hanger-images img {
  width:100%;
  height:auto;
 }
 .door-hanger-images {
  display:flex;
  flex-direction:column;
  gap:20px;
 }
 .social-media-cover img {
  width:100%;
  height:auto;
}
.dlc-7 img, .dlc-5 img {
  border:1px solid #000000;
}
.dlc-h4{
margin-top:20px;
}
.door-hanger p {
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5px;
  max-width: 550px;
  color: #000000;
  line-height: 25px;
}
.social-media p {
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5px;
  color: #000000;
  line-height: 25px;
}
.social-media h2 {
  color: #000000;
}
.social-media-examples img {
  width:100px;
  height:auto;
}
.social-media-examples {
  display:flex;
  flex-direction: row;
justify-content: space-between;
margin-top:40px;
margin-bottom:60px;
margin-right:20px;
margin-left:20px;
}
.p-dp {
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5px;
  color: #000000;
  line-height: 25px;
  margin-left:0px;
  margin-right:0px;
  margin-bottom:0px;
}
.subhead-dp {
color: #000000;
}
.dp-img {
  margin-bottom:60px;
}
.door-hanger2 {
  margin-bottom:60px;
}
.door-hanger-type{
  margin-left:20px;
  margin-right:20px;
  margin-bottom:30px;
}
#social-media-h2 {
  margin-top:60px;
}
.social-media-left {
  margin-left:20px;
  margin-right:20px;
}
.impact {
  margin-left:20px;
  margin-right:20px;
  margin-top:30px;
}
.dp-website {
  margin-left:20px;
  margin-right:20px;
  margin-bottom:30px;
}
.dp-website2 p{
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5px;
  color: #000000;
  line-height: 25px;
}
.dp-website-images img {
  width:100%;
  margin-bottom:20px;
}
.dp-website-link {
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-size:20px;
  font-style: normal;
  color:#000000;
  margin-left:20px;
}
.dp-bc-type {
  margin-bottom:60px;
  margin-left:20px;
  margin-right:20px;
  margin-bottom:30px;
  margin-top: 40px;
}
.social-media-flex{
  margin-bottom:30px;
}
.sample-posts h3 {
  margin-left:20px;
}
.sample-posts {
  margin-top:40px;
}


 /* PRINT BELOW */
   .lillians-print img {
    width:100%;
   }
   .lillians-print p {
    font-family: "figtree", sans-serif;
    font-weight: 400;
    font-size:16px;
    margin-top:5px;
   }
   .core-print img {
    width:100%;
   }
   .core-print {
    margin-bottom:80px;
   }
   .core-print p {
    font-family: "figtree", sans-serif;
    font-weight: 400;
    font-size:16px;
   }
   .lillians-type{
margin:20px;
margin-bottom:60px;
   }
   .core-type{
margin:20px;
   }
  .more-print {
    font-family: "figtree", sans-serif;
    font-weight: 400;
    font-size:16px;
    color:#0000FF;
    border-radius:5px;
    text-decoration:underline;
    margin-top:10px;
  }
  .more-print:hover {

  }
  .dp-print-imgs {
    display:flex;
    flex-direction:column;
    gap:20px;
  }


  /* SHIMMER BELOW */

  .shimmer-main {
    width:100%;
    height:auto;
}
.shimmer-subheaders {
  margin-left:20px;
  margin-bottom:30px;
}
.header-shimmer {
  margin-left:20px;
}
.project-2 {
  margin-top:50px;
}
.project-3 {
  margin-top:50px;
}
.landing-page-video {
  margin-top:50px;
}
.landing-page-video-sui {
  margin-top:80px;
  margin-bottom:40px;
}
.shimmer-email-container1 img {
  width:100%;
}
.shimmer-email-container1{
  margin-bottom:50px;
}
.shimmer-email-container2 img {
  width:100%;
}
.shimmer-email-container2 {
  margin-bottom:80px;
}
.app-goals {
  margin:20px;
}
.app-goals h3{
  color:#000000;
}
.app-goals p{
  font-size:16px;
  color:#000000;
  font-family:"figtree",sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:25px;
  margin-top:5px;
}

.header-with-icon {
  display: flex;
  align-items: center; /* Align the heading text and the arrow */
}

#shimmer-h2 {
  margin: 0;
  padding-right: 20px; /* Adjust this to create space between the text and the arrow */
}

.arrow-icon {
  width: 18px; /* Size of the arrow */
  height: 18px;
  background: url('data:image/svg+xml,%3Csvg%20id%3D%22_1-Arrow_Up%22%20data-name%3D%221-Arrow%20Up%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%3E%3Ctitle%3E1-Arrow%20Up%3C%2Ftitle%3E%3Cpath%20d%3D%22M26.71%2C10.29l-10-10a1%2C1%2C0%2C0%2C0-1.41%2C0l-10%2C10%2C1.41%2C1.41L15%2C3.41V32h2V3.41l8.29%2C8.29Z%22%2F%3E%3C%2Fsvg%3E') no-repeat center;
  background-size: contain;
  transform: translateY(-50%) rotate(90deg); /* Rotate the arrow to point right */
  transition: transform 0.3s ease; /* Adds a hover effect */
}

.header-with-icon:hover .arrow-icon {
  transform: scale(1.2)rotate(180deg); /* Rotate and enlarge the arrow on hover */
}
.flat-designs-shimmer img {
  width:100%;
   }
   .shimmer-email-container img {
    width:100%;
     }
   
.shimmer-h4 {
  margin-top: 10px;
}
.flat-designs-shimmer h3 {
  margin-left:20px;
  margin-bottom:10px;
}
.shimmer-h3{
  margin-left:20px;
  margin-bottom:30px;
}
.shimmer-h2{
  margin-left:20px;
  margin-bottom:30px;
}
.shimmer-onboarding-wireframes {
  display:flex;
  flex-direction:column;
  gap:40px;
  margin-left:20px;
  margin-right:20px;
}
.shimmer-onboarding-wireframes img {
  width:100%;
}
.shimmer-inapp-wireframes {
  display:flex;
  flex-direction:column;
  gap:40px;
  margin-left:20px;
  margin-right:20px;
}
.shimmer-inapp-wireframes img {
  width:100%;
}
.shimmer-app-wireframes2 {
  margin-top:60px;
}
.shimmer-app-wireframes {
  margin-top:50px;
}
.shimmer-h3-up {
  margin-left:20px;
}



 /* DAILY LOGO CHALLENGE BELOW */

.dlc-row1 {
  display:flex;
  flex-direction: column;
  align-items:center;
}
.dlc-row2 {
  display:flex;
  flex-direction: column;
  align-items:center;
}
.dlc-row3 {
  display:flex;
  flex-direction: column;
  align-items:center;
}
.dlc-row4 {
  display:flex;
  flex-direction: column;
  align-items:center;
}
.image-grid p{
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5px;
  color: #000000;
  font-size:18px;
  margin-left:20px;
}
.image-grid img{
width:100%;
}
.dlc-1, .dlc-2, .dlc-3, .dlc-4, .dlc-5, .dlc-6, .dlc-7, .dlc-8 {
  padding-bottom:20px;
}
.challenges p {
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5px;
  max-width: 550px;
  color: #000000;
  line-height: 25px;
  margin-left:20px;
  margin-right:20px;
}
.challenges h2 {
  margin-left:20px;
  margin-top:40px;
}
.challenges {
  margin-bottom:80px;
}
.user-personas img {
  width:100%;
  height:auto;
}
.mockup-app-last {
  margin-top:60px;
}
.project-3 {
  margin-bottom:50px;
}
.final-app {
  display:flex;
  flex-direction:column;
}
 /* SENIOR PROJ BELOW */
.research-clouro{
  display:flex;
  flex-direction:column;
  gap:40px;
  margin-bottom:20px;
  margin-left:20px;
  margin-right:20px;
}
.empathy-type {
  margin-left:20px;
  margin-right:20px;
}
.competitor-type {
  margin-left:20px;
  margin-right:20px;
}
.competitor1 {
  margin-left:20px;
  margin-right:20px;
}
.competitor2 {
  margin-left:20px;
  margin-right:20px;
}
.empathy-maps {
  margin-bottom:40px;
  margin-top:40px;
}
.user-personas-img {
  margin-bottom:40px;
}
.user-journey-maps {
}
.personas-type-clouro {
  margin-right:20px;
  margin-left:20px;
}
.user-journey-maps img{
  margin-bottom:40px;
}
.senior-p {
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5px;
  max-width: 550px;
  color: #000000;
  line-height: 25px;
  list-style-type: none;
}
.keyi-grid{
  display:grid;
  grid-template-columns: repeat(1, 1fr);
  gap:20px;
  padding-left:0px;
  justify-items:center;
  margin-bottom:60px;
}
.keyi-grid li {
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  max-width: 550px;
  color: #000000;
  line-height: 25px;
  list-style-type: none;
  background-color:#F8F6F6;
  padding:15px;
  border-radius:8px;
  border: 1px solid #191919;
}
.research-findings {
  display:flex;
  flex-direction:column;
  gap:20px;
}
h3 {
  font-family: "figtree", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 0px;
  font-size: 25px;
}

.brand-stuff {
  margin-top:20px;
  margin-bottom:40px;
}
.brand-everything {
  margin-left:20px;
  margin-right:20px;
}
.competitor-images {

}
.key-insights {
  margin-left:20px;
  margin-right:20px;
}
.pain-points {
  margin-left:20px;
  margin-right:20px;
  display:grid;
  grid-template-columns: repeat(1, 1fr);
  gap:20px;
  margin-bottom:60px;
}
.pain-points p {
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5px;
  max-width: 550px;
  color: #000000;
}
.pain-points div {
  background-color:#F8F6F6;
  padding:15px;
  border-radius:8px;
  border: 1px solid #191919;
}
.pain-points h4 {
  font-family: "figtree", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  margin-bottom:10px;
}
.competitor-info {
  margin-top:40px;
  margin-bottom:100px;
}
.moodboard {
  margin-bottom:100px;
  margin-left:20px;
  margin-right:20px;
}
.moodboard img {
  width:100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.comp-analysis {
  display:flex;
  flex-direction:column;
  gap:20px;
  margin-top:20px;
  margin-bottom:60px;
}
.box-shadow{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.brand-guidelines {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-grid-clouro {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Default to 2 columns for mobile */
  gap: 15px;
  width: 100%;
  max-width: 1200px; /* Ensure it fits within the wrapper */
  overflow: hidden; /* Prevent overflow */
  margin-bottom:60px;
}

.image-grid-clouro img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.clouro-bg-type {
  margin-left:20px;
  margin-bottom:20px;
  margin-top:40px;
}
.slider {
  position: relative;
  width: 100%; /* Adjust width as needed */
}

.slider-images {
  display: flex;
  justify-content: center;
}

.slider-images img {
  display: none; 
  width: 100%; 
}

.slider-images img.active {
  display: block; /* Show only the active image */
}

button.slider-prev, button.slider-next {
  position: absolute;
  top: 50%;
  background-color: black; /* Transparent background */
  border-radius: 100px;
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px; /* Size of the arrow icon */
  color: #ffffff; /* Color of the arrow */
  border: none; /* Remove border */
  z-index: 1; /* Make sure buttons are on top of the images */
}

button.slider-prev {
  left: 10px; /* Position left button */
}

button.slider-next {
  right: 10px; /* Position right button */
}

button.slider-prev i, button.slider-next i {
  font-size: 25px; /* Adjust the size of the Font Awesome icons */
}

.navigation-dots {
  text-align: center;
}

.nav-dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-dot.active {
  background-color: #717171; /* Active dot color */
}

.slider-images img {
  display: none; /* Hide all images initially */
  width: 100%;   /* Adjust as needed */
}

.navigation-dots .nav-dot.active {
  background-color: #333; /* Highlight active dot */
}

.gallery-display img {
  width: 100%;
  height: auto;
}

.gallery-display {
  margin: 20px;
  margin-bottom:80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wireframes-clouro h3 {
  margin-left:20px;
  margin-bottom:30px;
}

.info-arc-clouro img {
  width:100%;
  margin-top:30px;
}
.info-arc-clouro {
  margin-right:20px;
  margin-left:20px;
  margin-bottom:60px;
}
.lowfi-test1 p, .lowfi-test1 li{
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5px;
  max-width: 550px;
  color: #000000;
}
.lowfi-test1-type {
  margin-left:20px;
  margin-right:20px;
}
.lowfi-test1-header p, .lowfi-test1-header li  {
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5px;
  max-width: 550px;
  color: #000000;
}
.lowfi-test1-header {
  margin-top:60px;
  margin-right:20px;
  margin-left:20px;
}
.lowfi-test1-vids {
  display:flex;
  justify-content:center;
}
.lowfi-test1-header {
  margin-bottom:40px;
}
.description-sui {
  align-items:center;
}

/* USER PERONAS: CLOURO */
button.new-slider-prev, button.new-slider-next {
  position: absolute;
  top: 50%;
  background-color: black; /* Transparent background */
  border-radius: 100px;
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px; /* Size of the arrow icon */
  color: #ffffff; /* Color of the arrow */
  border: none; /* Remove border */
  z-index: 1; /* Make sure buttons are on top of the images */
}

button.new-slider-prev {
  left: 10px; /* Position left button */
}

button.new-slider-next {
  right: 10px; /* Position right button */
}

button.new-slider-prev i, button.new-slider-next i {
  font-size: 25px; /* Adjust the size of the Font Awesome icons */
}

.new-navigation-dots {
  margin-top: 10px; /* Ensure spacing below images */
  text-align: center;
}
.new-slider {
  position:relative;
  width:100%;
  margin-bottom:80px;
}

.new-nav-dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-nav-dot.active {
  background-color: #333; /* Highlight active dot */
}

.new-slider-images img {
  display: none; /* Hide all images initially */
  width: 100%; /* Adjust as needed */
}

.new-slider-images img.active {
  display: block; /* Show only the active image */
}
.new-slider-images {
  display:flex;
  justify-content:center;
}

.new-carousel-display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
}

.new-carousel-display img {
  width: 75%;
}

.brand-concept-clouro img {
width:100%;
}
.clouro-bc2 {
  margin-left:20px;
  margin-right:20px;
  margin-top:30px;
}
.naming-c1 {
  margin-left:20px;
  margin-right:20px;
  margin-top:20px;
  margin-bottom:60px;
}
.research-h2-clouro {
  margin-bottom:20px;
  margin-left:20px;
}
.pp-h3 {
  margin-bottom:20px;
  margin-left:20px;
}
.uj-map-clouro-type {
  margin-left:20px;
  margin-right:20px;
  margin-bottom:30px;
}
.clouro-marketing-type {
  margin-top:60px;
  margin-right:20px;
  margin-left:20px;
  margin-bottom:30px;
}
.clouro-marketing-type p {
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5px;
  max-width: 550px;
  color: #000000;
}
.clouro-marketing-images img {
  width:100%;
}
.clouro-marketing-images {
  display:flex;
  flex-direction:column;
  gap:20px;
  margin-bottom:20px;
}
.clouro-marketing {
  margin-bottom:60px;
}
.hi-fi-flats-clouro {
margin-top:60px;
}
.hi-fi-flats-clouro h2 {
  margin-bottom:30px;
  margin-left:20px;
  margin-right:20px;
}
.changes-hifi p, .changes-hifi li {
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5px;
  max-width: 550px;
  color: #000000;
}
.changes-hifi {
  margin-top:30px;
}
.app-rationale-clouro {
  margin-left:20px;
  margin-right:20px;
  margin-bottom:40px;
}
.app-rationale-clouro p {
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5px;
  max-width: 550px;
  color: #000000;
}
.info-arc-clouro {
  margin-top:40px;
}



 /* NO CURFEW BELOW */

.description-noc p {
  font-family: "figtree", sans-serif;
font-weight: 400;
font-style: normal;
  margin-top: 5px;
  color: #000000;
  line-height: 25px;
}
.noc-m
.description-noc{
 padding-top:40px;
  margin:20px;
  padding-bottom: 30px;
}
.description-noc h2 {
color: #000000;
}
.noc-1 {
  display:flex;
  flex-direction:column;
  gap:30px;
}
.noc1-right {
  margin-left:20px;
  margin-right:20px;
}
.noc-1 p {
  font-family: "figtree", sans-serif;
font-weight: 400;
font-style: normal;
  margin-top: 5px;
  color: #000000;
  line-height: 25px;
}
.noc-project {
  margin-bottom:40px;
  margin-left:20px;
  margin-right:20px;
}
.noc-moodboard p {
  font-family: "figtree", sans-serif;
font-weight: 400;
font-style: normal;
  margin-top: 5px;
  color: #000000;
  line-height: 25px;
}
.noc1-left img {
  width:100%;
}
.noc-moodboard-left {
  margin-left:20px;
  margin-right:20px;
  margin-bottom:30px;
}
.noc-moodboard img {
  width:100%;
}
.noc-moodboard {
  margin-bottom:46px;
}
.noc-logos img {
max-width:100%;
}
.logos-imgs h3, .logos-imgs p {
  margin-left:20px;
  margin-right:20px;
}
.logos-imgs h3 {
  margin-top:30px;
}
.logos-imgs p {
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
    margin-top: 5px;
    color: #000000;
}
.noc-logos-type p {
  font-family: "figtree", sans-serif;
font-weight: 400;
font-style: normal;
  margin-top: 5px;
  color: #000000;
  line-height: 25px;
  max-width:550px;
  margin-right:20px;
  margin-left:20px;
}
.noc-logos-type h3 {
margin-left:20px;
margin-top:30px;
}
.noc-typography img {
  width:100%;
}
.noc-typography {
  margin-bottom:40px;
}
.noc-typography {
  display:flex;
  gap:40px;
  flex-direction:column;
}
.noc-typography h3 {
  margin-left:20px;
  margin-bottom:15px;
}
.noc-logos h3 {
  margin-bottom:0px;
}
.noc-logos {
  margin-bottom:40px;
}
.noc-colors h3 {
margin-bottom:15px;
margin-left:20px;
}
.noc-colors img {
  width:100%;
}
.noc-colors {
  margin-bottom:60px;
}
.noc-cards-right img{
width:100%;
}
.noc-cards {
  margin-bottom:40px;
}
.noc-cards-left {
  margin-right:20px;
  margin-left:20px;
  margin-bottom:20px;
}
.noc-cards-left p {
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
    margin-top: 5px;
    color: #000000;
    max-width:550px;
}
.noc-social {
  margin-bottom:40px;
}
.noc-social img {
  width:100%;
}
.noc-social-left{
  display:flex;
  flex-direction:column;
  gap:20px;
}
.noc-social-right p {
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5px;
  color: #000000;
  max-width:550px;
  line-height: 25px;
}
.noc-social-right {
  margin-right:20px;
  margin-left:20px;
  margin-top:20px;
  margin-bottom:30px;
}
.noc-app p {
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5px;
  color: #000000;
  max-width:550px;
  line-height: 25px;
}
.noc-app {
  margin-bottom:20px;
  margin-left:20px;
  margin-right:20px;
}
.noc-walkthrough {

}
/* COR2E BELOW */

.core-img {
  width:100%;
  height:auto;
}
.footnote p {
  font-family: "soleil", sans-serif;
  font-weight: 200;
  font-style: normal;
  margin-top: 5px;
  max-width: 400px;
  color: #606060;
  line-height: 25px;
}
.footnote h2{
margin-top:16px;
}
.footnote {
  margin-bottom:50px;
}
.description-core p {
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5px;
  max-width: 550px;
  color: #000000;
  line-height: 25px;
}
.description-core {
 padding-top:40px;
  margin:20px;
}
.description-core h1 {
  margin-bottom:18px;
}
.challenges-core {
  margin:20px;
  margin-bottom:80px;
}
.challenges-core p {
  font-family: "figtree", sans-serif;
  font-weight: 200;
  font-style: normal;
  margin-top: 5px;
  max-width: 550px;
  color: #000000;
  line-height: 25px;
}
.challenges-core h2 {
  margin-top:40px;
}
.p-core{
  margin-bottom:0px;
}
.d-flex{
  margin-top:30px;
}

/* ABOUT BELOW */
.about1 p{
  font-size:16px;
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5px;
  max-width: 550px;
  color: #000000;
  line-height: 25px;
}
.about {
  margin:20px;
  margin-bottom:140px;
}
.main-about {
  margin-top:30px;
}
.main-about img {
margin-bottom:30px;
}
.about1 {
  display:flex;
  flex-direction: column;
}
.clouro-ps {
  font-family: "figtree", sans-serif;
  font-weight: 200;
  font-style: normal;
  margin-top: 10px;
  max-width: 550px;
  color: #000000;
  line-height: 25px;
}
#noc-vid2 {
  margin-bottom:80px;
}




/* SHIMMER BELOW */
.landing-page img {
  width:100%;
  height:auto;
}
.landing-page {
  display:flex;
  flex-direction: column;
  gap:20px;
}
.emails img {
  width:100%;
  height:auto;
}
.email-explained {
display:flex;
flex-direction: column;
justify-content:center;
margin-left:20px;
margin-right:20px;
}
.email-explained p {
  font-size:16px;
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top:5px;
    max-width: 550px;
    color: #000000;
    line-height: 25px;
}
.shimmer-style-tile img {
  width:100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.shimmer-style-tile {
  margin-bottom:50px;
}
.shimmer-left-flex {
  display:flex;
  justify-content:center;
}

.emails {
  display:flex;
  flex-direction:column;
  gap:20px;
  margin-bottom:30px;
}
.process img {
  width:100%;
  height:auto;
}
.app img {
  width:100%;
  height:auto;
}
.app {
  display:flex;
  flex-direction:column;
  gap:20px;
}
.process-app img {
  width:100%;
  height:auto;
}
.goals{
  margin-top:50px;
}
.header-shimmer{
  margin-bottom:20px;
  font-size:30px;
}
.user-personas {
  margin:20px;
  display:flex;
  flex-direction:column;
  gap:20px;
}
.up-first {
  margin-bottom:20px;
}
.shimmer-images {
  display:flex;
  flex-direction:column;
  gap:20px;
  margin-bottom:20px;
}
.project-1 {
  margin-top:50px;
}
.process-project1 img {
  width:100%;
  height:auto;
}
.final-shimmer {
  width:100%;
  height:auto;
}
.challenges-shimmer {
  margin:20px;
  margin-bottom:80px;
}
.challenges-shimmer p {
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5px;
  max-width: 550px;
  color: #000000;
  line-height: 25px;
}
.challenges-shimmer h2 {
  margin-top:40px;
}
.shimmer-last-flex {
  display:flex;
  flex-direction: column;
}
.process-shimmer {
  margin-top:40px;
}
.process-sui {
  margin-top:40px;
}
.about1 img {
  width:100%;
height:auto;
}
.project-purpose-shimmer p {
  font-size:16px;
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top:5px;
    color: #000000;
    line-height: 25px;
}
.project-purpose-shimmer {
  margin-top:40px;
  margin-left:20px;
  margin-right:20px;
}

#shimmer-project-arrows {
  font-size:20px;
color:#000000;
}
#shimmer-project-arrows:hover {
  font-size:23px;
}

.carousel {
  position: relative;
  width: 100%; /* Adjust width as needed */
}

.carousel-images {
  display: flex;
  justify-content: center;
}

.carousel-images img {
  display: none; 
  width: 100%; 
}

.carousel-images img.active {
  display: block; /* Show only the active image */
}

button.prev, button.next {
  position: absolute;
  top: 50%;
  background-color: black; /* Transparent background */
  border-radius:100px;
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px; /* Size of the arrow icon */
  color: #ffffff; /* Color of the arrow */
  border: none; /* Remove border */
  z-index: 1; /* Make sure buttons are on top of the images */
}

button.prev {
  left: 10px; /* Position left button */
}

button.next {
  right: 10px; /* Position right button */
}

button.prev i, button.next i {
  font-size: 25px; /* Adjust the size of the Font Awesome icons */
}

.dots-container {
  text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #717171; /* Active dot color */
}

.carousel-images img {
  display: none; /* Hide all images initially */
  width: 100%;   /* Adjust as needed */
}

.carousel-images img:active {
  display: block; /* Show the first image by default */
}

.dots-container .dot.active {
  background-color: #333; /* Highlight active dot */
}
 /* STATIC KINETIC */
 .sk-process2 h2, .sk-process1 h2 {
margin-left:20px;
 }
.sk-process1 img {
  width:100%;
 }
 #shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
 }
 .storyboard-imgs img {
  width:100%;
  margin-bottom:80px;
 }
 .sk-process1 {
  margin-top:40px;
 }
 .sk-process2 {
  margin-top:40px;
 }

 .storyboard-imgs {
  display:flex;
  flex-direction:column;
  gap:20px;
 }
 .sk-process1-moodboard {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  gap:40px;
 }
 .sk-process1-type p {
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5px;
  max-width: 550px;
  color: #000000;
  line-height: 25px;
  margin-left: 20px;
  margin-bottom:0px;
 }
 .sk-process2 p{
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5px;
  max-width: 550px;
  color: #000000;
  line-height: 25px;
  margin-left: 20px;
  margin-bottom:30px;
 }
.noc-main-img {
  margin-bottom:60px;
}
.noc-mark p {
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 5px;
  max-width: 550px;
  color: #000000;
  line-height: 25px;
  margin-left: 20px;
  margin-bottom:30px;
  margin-right:20px;
}
.noc-mark h3 {
  margin-left:20px;
}
.noc-mark {
  margin-bottom: 40px;
}
.mark-images img {
width:100%;
}
.mark-images {
}

 /* POPUP*/
/* Popup overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dim the background */
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* Popup box */
.popup-box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}
#popup p {
  font-family: "figtree", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}
/* Close button */
.close-btn {
  position: absolute;
  top: 0px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
}

/* Close button hover effect */
.close-btn:hover {
}
/* Mobile-specific styling */
@media (max-width: 600px) {
  .popup-box {
    margin: 0 15px; /* Add margin on both sides for small screens */
  }
}



/* user-personas carousel MOBILE */
@media (max-width: 800px) {
  button.prev, button.next {
    width: 40px; /* Reduce button size for smaller screens */
    height: 40px;
    font-size: 18px; /* Adjust icon size */
  }

  button.prev {
    left: -3px; /* Tweak position for smaller screens */
  }

  button.next {
    right: -3px;
  }

  .dots-container {
    margin-top: 10px; /* Ensure spacing below images */
  }
  button.slider-prev, button.slider-next {
    width: 40px; /* Reduce button size for smaller screens */
    height: 40px;
    font-size: 18px; /* Adjust icon size */
  }
  
  button.slider-prev {
    left: -3px; /* Tweak position for smaller screens */
  }
  
  button.slider-next {
    right: -3px;
  }
  
  .navigation-dots {
    margin-top: 10px; /* Ensure spacing below images */
  }
  
  .gallery-display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:60px;
  }
  
  .gallery-display img {
    width: 100%;
  }
  button.new-slider-prev, button.new-slider-next {
    width: 40px; /* Reduce button size for smaller screens */
    height: 40px;
    font-size: 18px; /* Adjust icon size */
  }
  .new-carousel-display img {
    width:100%;
  }
  .new-slider {
    margin-bottom:60px;
  }
  
}



@media (min-width:800px){ 
  .wrapper{
    max-width: 1200px;
    margin:0 auto;
    }
  nav {
        max-width: 1200px;
        margin:40px auto;
        padding:20px;
    }
    p {
        max-width: 650px;
    }
    nav ul {
    gap: 50px;
    }
    .type-section {
        flex-direction: row;
        gap:50px;
        margin-left:0px;
        margin-top:50px;
        align-items:center;
      }
      .description p {
        font-size:18px;
      }
      .type-section p {
        font-size:18px;
        max-width:550px;
      }
      .type-section img {
        width:600px;
      }
      .description{
        margin-left:0px;
      }
      .two-images {
        flex-direction: row;
      }

      /* FUN STUFF BELOW */
      .dlc-fun {
        display:flex;
        justify-content:center;
        align-items:center;
        margin-bottom:60px;
        gap:40px;
      }
.left-side-dlc img {
  flex: 1;  /* Ensures images take equal space */
  max-width: 100%;  /* Prevents images from exceeding their container */
  height: auto;  /* Maintains aspect ratio */
  object-fit: cover; 
}
      .left-side-dlc {
display:flex;
box-sizing: border-box;
width:50%;
justify-content:space-between;
gap:20px;

      }
      .doms-left {
        width:50%;
      }
      .doms-right {
        margin-left:0px;
        margin-right:0px;
      }
      .doms {
        flex-direction:row;
        align-items:center;
        margin-bottom:60px;
        gap:40px;
      }
      .left-side-dlc img {
        width: calc(33.33% - 20px);
        height:auto;
        object-fit:cover;
      }
      .letter-loops-fun video {
        width:30%;
        justify-content:space-between;
      }
      .letter-loops-flex {
        flex-direction:row;
        margin-bottom:60px;
      }
      .letter-loops-type {
        margin-left:0px;
      }

      .mintz-left {
        width:50%;
      }
      .mintz {
        flex-direction:row;
        gap:40px;
        align-items:center;
        margin-bottom:60px;
      }
      .mintz-right {
        margin-left:0px;
        margin-right:0px;
      }
      .sk-right {
        margin-left:0px;
        margin-right:0px;
      }
      .static-kinetic {
        flex-direction:row;
        gap:40px;
        margin-bottom:60px;
        align-items:center;
        
      }
      .sk-left {
        width:50%;
      }
.dlc-type {
  margin-top:0px;
}

 /* STATIC KINETIC */
 .sk-process2 h2, .sk-process1 h2 {
  margin-left:0px;
   }
   .storyboard-imgs {
    flex-direction:row;
    justify-content:space-between;
   }
   .storyboard-imgs img {
width:32%;
   }
   .sk-process1 img {
    width:50%;
   }
   .sk-process1-moodboard {
flex-direction:row;
   }
   .sk-process1 {
    margin-top:60px;
   }
   .sk-process1-type p {
    margin-left: 0px;
   }
   .sk-process2 p {
    margin-left:0px;
   }


       /* PRINT BELOW */
   .lillians-print {
    display:flex;
    align-items:center;
    gap:40px;
   }
   .lillians-print img {
    width:50%;
   }
   .core-print {
    display:flex;
    align-items:center;
    gap:40px;
   }
   .core-print img {
    width:50%;
   }
   .lillians-type{
    margin:0px;
    margin-bottom:80px;
       }
       .core-type{
    margin:0px;
       }
       .lillians-print {
        margin-bottom:40px;
       }
       .dp-print-imgs {
        flex-direction:row;
        width:50%;
      }
      .dp-print-imgs img {
        width:50%;
      }





       /* NO CURFEW BELOW */
 .noc-1 {
  display:flex;
  gap:40px;
  flex-direction: row;
  align-items:center;
 }
 .noc-logos {
  display:flex;
  gap:40px;
  margin-top:60px;
 }
 .noc1-left {
  width:50%;
 }
 .noc-project {
  margin-left:0px;
 }
 .noc-moodboard-left {
  margin-left:0px;
  margin-right:0px;
 }
 .noc-moodboard {
  display:flex;
  gap:40px;
  margin-top:60px;
  align-items:center;
 }
 .noc-moodboard-right {
  width:50%;
  margin-left:0px;
 }
 .noc-moodboard-right p {
  max-width:550px;
 }
 .noc-logos-type h3, .noc-logos-type p {
  margin-left: 0px;
  margin-right:0px;
 }
 .logos-imgs h3, .logos-imgs p {
  margin-left:0px;
  margin-right:0px;
 }
 .noc-typography {
  flex-direction:row;
  margin-bottom:60px;
 }
 .noc-typography h3 {
  margin-left:0px;
 }
 .noc-typography {
  margin-top:60px;
 }
.noc-colors h3 {
  margin-left:0px;
}
.noc-colors {
  margin-bottom:80px;
}
.noc-cards {
  margin-bottom:60px;
}
.noc-cards {
  display:flex;
  gap:40px;
  align-items:center;
}
.noc-cards-right {
  width:50%;
}
.noc-cards-left {
  margin-right:0px;
  margin-left:0px;
}
.noc-social {
  margin-bottom:60px;
}
.noc-social img {
  width:100%;
}
.noc-social-left{
}
.noc-social-right {
  margin-right:0px;
  margin-left:0px;
}
.noc-app {
  margin-bottom:40px;
  margin-left:0px;
  margin-right:0px;
}
.noc-mark p {
  margin-left:0px;
  margin-right:0px;
}
.noc-mark h3{
  margin-left:0px;
}
#noc-bg {
margin-top:60px;
}


 /* SHIMMER BELOW */
      .project-purpose-shimmer {
        margin-right:0px;
        margin-left:0px;
      }
      .shimmer-style-tile {
        display:flex;
        justify-content:center;
           }
           .shimmer-style-tile img {
            width:75%;
               }
               .user-personas {
                display: flex;
                justify-content: center;
                align-items: center;
              }
            
              
              .user-personas img {
                width:75%;
              }
              
              .flat-designs-container-shimmer {
                display:flex;
                justify-content:center;
                   }
                   .flat-designs-container-shimmer img {
                    width:75%;
                       }
                       .shimmer-email-container1 {
                        display:flex;
                        justify-content:center;
                        flex-direction:column;
                        align-items:center;
                           }
                           .shimmer-email-container2 {
                            display:flex;
                            justify-content:center;
                            flex-direction:column;
                            align-items:center;
                               }
                           .shimmer-email-container1 img {
                            width:75%;
                               }
                               .shimmer-email-container2 img {
                                width:75%;
                                   }
                                   .flat-designs-shimmer h3 {
                                    margin-left:0px;
                                  }
                                  .shimmer-h3{
                                    margin-left:0px;
                                  }
              
.shimmer-onboarding-wireframes {
  align-items:center;
}
.shimmer-onboarding-wireframes img {
  width:75%;
}
.shimmer-inapp-wireframes {
  align-items:center;
}
.shimmer-inapp-wireframes img {
  width:75%;
}
.shimmer-app-wireframes2 {
  margin-top:60px;
}
.shimmer-app-wireframes {
  margin-top:50px;
}
.app-goals {
  margin-top:40px;
  margin-left:0px;
  margin-right:0px;
}
.shimmer-h3-up {
  margin-left:0px;
}

/* SENIOR PROJ BELOW */ 
.research-clouro{
  flex-direction:row;
  gap:40px;
  margin-bottom:20px;
  margin-left:0px;
  margin-right:0px;
}
.competitor-type {
  margin-left:0px;
  margin-right:0px;
}
.comp-analysis {
  flex-direction: row;
  justify-content:space-between;
  gap:0px;
  margin-bottom:80px;
}
.comp-analysis img {
  width:32%;
}
.image-grid-clouro {
  grid-template-columns: repeat(2, 1fr); /* 3 columns for desktop */
  margin-bottom:80px;
}
.brand-guidelines {
  padding:0px;
}
.clouro-bg-type {
  margin-left:0px;
}
.competitor-type {
  margin-bottom:30px;
}
.keyi-grid{
  grid-template-columns: repeat(2, 1fr);
  margin-left:0px;
}
.key-insights {
  margin-left:0px;
  margin-right:0px;
}
.key-insights h3 {
  margin-bottom:20px;
}
.pain-points {
  margin-left:0px;
  margin-right:0px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom:80px;
}
.pain-points p {
  max-width:650px;
}
.keyi-grid li {
max-width:650px;
}
.senior-p {
  max-width:650px;
}
.wireframes-clouro h3 {
  margin-left:0px;
}
.info-arc-clouro {
  margin-right:0px;
  margin-left:0px;
}
.empathy-type {
  margin-left:0px;
}
.personas-type-clouro {
  margin-left:0px;
}
.uj-map-clouro-type {
  margin-left:0px;
}
.lowfi-test1 p, .lowfi-test1 li {
  max-width:660px;
}
.lowfi-test1-type {
  margin-left:0px;
  margin-right:0px;
  margin-top:0px;
}
.lowfi-test1 {
  display:flex;
  align-items:center;
  gap:40px;
}
.lowfi-test1-type {
  width:100%;
}
.clouro-vid1 {
  width:75%;
}
.lowfi-test1-header p, .lowfi-test1-header li  {
  max-width: 650px;
}
.lowfi-test1-header {
  margin-right:0px;
  margin-left:0px;
  margin-top:80px;
}      
.clouro-bc2 {
  margin-left:0px;
  margin-right:0px;
}
.naming-c1 {
  margin-left:0px;
  margin-right:0px;
}
.naming-clouro {
  display:flex;
  gap:20px;
  margin-bottom:20px;
}
.naming-c1 {
  margin-top:30px;
}
.research-h2-clouro {
  margin-bottom:40px;
  margin-left:0px;
}
.clouro-marketing-type {
  margin-top:80px;
  margin-right:0px;
  margin-left:0px;
}
.clouro-marketing-type p {
  max-width: 650px;
}
.clouro-marketing-images img {
  width:50%;
  object-fit:cover;
}
.clouro-marketing-images {
  flex-direction:row;
}
.clouro-marketing {
  margin-bottom:80px;
}
.info-arc-iframe {
  margin-bottom:80px;
}
.hi-fi-flats-clouro {
  margin-top:80px;
  }
  .hi-fi-flats-clouro h2 {
    margin-left:00px;
    margin-right:0px;
  }
  .pp-h3  {
    margin-left:0px;
  }
.app-p {
  display:flex;
  gap:40px;
}
.app-rationale-clouro {
  margin-left:0px;
  margin-right:0px;
  margin-bottom:60px;
}
.info-arc-clouro {
  margin-top:60px;
}


 /* ABOUT BELOW */                            
.main-about img {
margin-bottom:0px;
}
.main-about {
  margin-top:30px;
}

 /* SUI BELOW */
 .images-sui img {
  width: 50%;
 }
 .description-sui p {
  font-size:18px;
}
.description-sui {
  display:flex;
  flex-direction: row;
  gap:70px;
}
      .images-sui {
        flex-direction: row;
       }
.sui-bottom-flex {
  display:flex;
  align-items: center;
  margin-bottom:80px;
}
  .brand-concept-sui {
    margin-top:80px;
    margin-bottom:80px;
  }
  .brand-concept-sui img {
    width:100%;
  }
  .brand-sui-img {
    display:flex;
    align-items: center;
  }
  h3 {
    margin-left:0px;
  }
  .sui-project-goals img {
    width:50%
   }
   .sui-project-goals {
    display:flex;
    align-items:center;
    gap:40px;
    padding-top:50px;
    padding-bottom:50px;
   }
   .style-tile-container {
display:flex;
justify-content:center;
margin-left:0px;
margin-right:0px;
   }
   .style-tile-container img {
    width:75%;
       }
 .user-personas-container {
        display:flex;
        justify-content:center;
           }
.user-personas-container img {
            width:75%;
               }

.sui-wireframes-container1 {
  display:flex;
  justify-content:center;
}
.sui-wireframes-container1 img {
  width:75%;
}
.type-brand-concept-sui {
margin-left:0px;
margin-top:40px;
margin-right:0px;
}
.type-sui-project-goals {
  margin-left:0px;
  margin-top:0px;
  margin-right:0px;
  margin-bottom:0px;
  }

  .style-tile-sui {
    margin-left:0px;
    margin-bottom:60px;
  }
  .lowfi-test1-header {
    margin-bottom:0px;
  }
  .sui-mobile-wf {
    margin-bottom:60px;
  }
  .wireframes-sui1 {
    margin-top:60px;
  }
 .sui-h3 {
  margin-left:0px;
 }
 .sui-mobile-wf p {
  margin-bottom:40px;
 }
.landing-page-video-sui {
  margin-bottom:60px;
}



 /* DAILY LOGO CHALLENGE BELOW */
 .dlc-row1{
  flex-direction:row;
  gap:20px;
  justify-content:center;
 }
 .dlc-row2{
  flex-direction:row;
  gap:20px;
  justify-content:center;
 }
 .dlc-row3{
  flex-direction:row;
  gap:20px;
  justify-content:center;
 }
 .dlc-row4{
  flex-direction:row;
  gap:20px;
  justify-content:center;
 }
 .image-grid {
  margin:20px;
 }
 .description{
  margin-left:20px;
 }
 .description-sui{
  margin-left:20px;
 }
 .image-grid img {
  width:400px;
}
.challenges p {
  margin-left:0px;
}
.challenges h2 {
  margin-left:0px;
}
.web-vid {
  width:100%;
  align-self: center;
}
.app-vid {
width:50%;
}
.landing-page {
  display:flex;
  flex-direction: row;
  gap:20px;
}
.landing-page img {
}
.emails {
  display:flex;
  flex-direction: row;
  gap:20px;
}
.emails img {
  width:50%;
}
.app {
  display:flex;
  flex-direction:row;
  gap:20px;
}
.app img {
  width:50%;
  height:auto;
}
.wireframes-1 img {
  width:50%;
}
.wireframes-2 img {
  width:50%;
}
.wireframes-1 {
  display:flex;
  flex-direction: row;
  gap:20px;
  align-items:center;
}
.wireframes-2 {
  display:flex;
  flex-direction: row;
  gap:20px;
}
.shimmer-images {
  display:flex;
  flex-direction:row;
  align-items: center;
  margin:20px;
  gap:20px;
}
.shimmer-images {
  width:100%;
}
.shimmer-images img {
  width:40%;
}
.goals {
  display:flex;
  flex-direction: row;
  gap:40px;
}
.up1 {
  display:flex;
  flex-direction: row;
  gap:20px;
}
.up-first {
  margin-bottom:0px;
}
.challenges-shimmer {
  margin:20px;
}
.landing-page-video{
  display:flex;
  flex-direction:column;
}
.web-vid {
  width:100%;
  align-self: center;
}
.final-app {
display:flex;
flex-direction:row;
}
.shimmer-last-flex {
flex-direction: row;
align-items:center;
justify-content:space-between;
margin-bottom:80px;
}
iframe {
height:700px;
}
.about1 {
  flex-direction: row;
  gap:40px;
  align-items:center;
}
.about {
  padding:50px;
}
.about1 img {
  width:400px;
}


/* DUCK POND BELOW */
.dp-website {
  display:flex;
  align-items:center;
  gap:40px;
}
.social-media-left {
  margin-left:0px;
  margin-right:0px;
}
.impact {
  margin-left:0px;
  margin-right:0px;
  margin-top:0px;
}
.dp-website {
  margin-left:0px;
  margin-right:0px;
}
.door-hanger-type {
  margin-left:0px;
}
.dp-bc-type {
  margin-left:0px;
}
.dp-website-link {
  margin-left:0px;
}
.image-grid p {
  margin-left:0px;
}

}






@media (min-width:1200px){ 
.description{
  margin-left:0px;
}
.description-sui{
  margin-left:0px;
}
.image-grid img {
  width:590px;
}
 /* DUCK POND BELOW */

.door-hanger-images {
  display:flex;
  flex-direction:row;
  max-width:1200px;
 }
.p-dp {
  margin-left:0px;
}
.subhead-dp {
  margin-left:0px;
}
.dp-image img {
  height:750px;
  object-fit:cover;
}


 /* CORE BELOW */
 .footnote p{
  margin-left:0px;
 }
 .footnote h2{
  margin-left:0px;
  margin-top:0px;
 }
 .d-flex {
  display:flex;
  gap:40px;
 }
.challenges-core {
  margin-left:0px;
}




.social-media-cover img {
  width:100%;
  height:750px;
  object-fit:cover;
}
.social-media p {
  margin-left:0px;
}
.social-media h2 {
  margin-left:0px;
}
.social-media-examples img {
  width:350px;
  height:auto;
}
.social-media-examples {
  display:flex;
  flex-direction: row;
  gap:20px;
justify-content: space-between;
}
.social-media-flex {
  display:flex;
  gap:40px;
  margin-bottom:40px;
}
.description-core {
margin-left:0px;
padding-bottom: 30px;
}




  /* SHIMMER BELOW */
  .challenges-shimmer {
    margin:0px;
    }
    .header-shimmer {
      margin-left:0px;
    }
    .shimmer-subheaders {
      margin-left:0px;
    }
    .app-vid{
      margin-left:0px;
    }
    .user-personas {
      margin-left:0px;
    }
    .shimmer-images img {
      width:50%;
    }
    .shimmer-h2{
      margin-left:0px;
    }
}
